<h2>画像</h2>
<%= link_to(post_path(post)) do %>
    <%= image_tag post.get_image(200,200) %>
<% end %>
<h2>タイトル</h2>
<p><%= post.posted_title %></p>
<h2>本文</h2>
<p><%= post.post_content %></p>
<div id="comment_counter">
    <%= render "public/comments/counter", post: post %>
</div>