<%= form_with model: post do |f| %>
    <table class="table table-lg table-borderless">
        <tr class="row">
            <th class="col-3 text-right">画像</th>
            <td class="col-9">
                <%= f.file_field :image, accept: "image/*" %><br>
                ※必須
            </td>
        </tr>
        
        <tr class="row">
            <th class="col-3 text-right">タイトル</th>
            <td class="col-9">
                <%= f.text_field :posted_title, size: "50x20" %>
                ※必須
            </td>
        </tr>
        
        <tr class="row">
            <th class="col-3 text-right">内容</th>
            <td class="col-9">
                <%= f.text_area :post_content, size: "50xauto" %>
                ※必須
            </td>
        </tr>
        
        <tr class="row">
            <th class="col-3 text-right">
                郵便番号
            </th>
            <td class="col-9">
                <%= text_field_tag :zipcode, nil %><br>
                ※投稿には表示されません。
            </td>
        </tr>
        
        <tr class="row">
            <th class="col-3 text-right">住所</th>
            <td class="col-9"><%= f.text_field :address %></td>
        </tr>
        
        <%= render "form", tag_name: tag_name %>
    </table>
    <div class="d-flex justify-content-center mb-2">
        <%= render "display", post: post, f: f %>
    </div>
<% end %>