<h1>投稿編集</h1>
<% if @post.errors.any? %>
    <%= @post.errors.count %>件のエラーが発生しました
    <ul>
        <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
<% end %>

<%= form_with model: @post do |f| %>
    <p>画像</p>
    <%= f.file_field :image, accept: "image/*" %>
    
    <p>タイトル</p>
    <%= f.text_field :posted_title %>
    
    <p>投稿内容</p>
    <%= f.text_area :post_content %>
    
    <%= f.submit "保存" %>
<% end %>