<h1>投稿詳細</h1>
<h2>タグ</h2>
<%= render "post", post: @post %>
<%= render "show", post: @post %>
<div id="laughed_buttons_<%= @post.id %>">
    <%= render "public/laughed_buttons/laughed", post: @post %>
</div>
<%= link_to "編集", edit_post_path(@post) %>
<%= link_to "削除", post_path(@post), method: :delete, "data-confirm" => "本当に投稿を削除しますか？" %>
<div id="comment_counter">
    <%= render "public/comments/counter", post: @post %>
</div>
<div id="comment_index">
    <%= render "public/comments/index", post: @post %>
</div>
<%= render "public/comments/form", post: @post, comment: @comment %>

<p>
    <span><i class="fa-solid fa-location-dot"></i> <%= @post.address %></span>
</p>