<h1>投稿詳細</h1>
<h2>画像</h2>
<%= image_tag @post.get_image(200,200) %>
<h2>タイトル</h2>
<p><%= @post.posted_title %></p>
<h2>本文</h2>
<p><%= @post.post_content %></p>
<div id="laughed_buttons_<%= @post.id %>">
    <%= render "public/laughed_buttons/laughed", post: @post %>
</div>
<%= link_to "編集", edit_post_path(@post) %>
<%= link_to "削除", posts_path, method: :delete, "data-confirm" => "本当に投稿を削除しますか？" %>