<table>
    <tbody>
        <% post.comments.each do |comment| %>
        <tr class="row border rounded mb-1">
            <td class="col-1 text-center p-0">
                <%= link_to user_path(comment.user) do %>
                    <div class="text-dark"><%= comment.user.name %></div>
                    <div><%= image_tag comment.user.get_profile_image(40,40), class: "rounded-circle" %></div>
                <% end %>
            </td>
            <td class="col-9 text-break pt-4"><%= comment.comment_content %></td>
            <td class="col-2 pt-5">
                <% if comment.user == current_user %>
                    <%= link_to "削除", post_comment_path(post, comment), method: :delete, remote: true, class: "text-danger" %>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>