<div class="container">
    <h2>会員情報編集</h2>
    <div class="row mt-5">
        <div class="col d-flex justify-content-center">
            <%= form_with model: [:admin, @user] do |f| %>
            <table class="table table-lg table-borderless">
                <tr class="row">
                    <th class="col-5">会員ID</th>
                    <td class="col-5"><%= @user.id %></td>
                </tr>
                
                <tr class="row">
                    <th class="col-5">名前</th>
                    <td class="col-5"><%= f.text_field :name %></td>
                </tr>
                
                <tr class="row">
                    <th class="col-5">メールアドレス</th>
                    <td class="col-5"><%= f.email_field :email %></td>
                </tr>
                
                <tr class="row">
                    <th class="col-5">会員ステータス</th>
                    <td class="col-3">
                        <%= f.radio_button :is_active, :true %>
                        <%= f.label :is_active, "有効", {value: true} %>
                    </td>
                    <td class="col-3">
                        <%= f.radio_button :is_active, :false %>
                        <%= f.label :is_active, "退会", {value: false} %>
                    </td>
                </tr>
            </table>
            <div class="text-center"><%= f.submit "変更を保存" %></div>
            <% end %>
        </div>
    </div>
</div>

