<div class="container">
    <h2>会員情報編集</h2>
    <div class="row mt-5">
        <div class="col d-flex justify-content-center">
            <%= form_with model: @user do |f| %>
            <table class="table table-lg table-borderless">
                <tr class="row">
                    <th class="col-5">アイコン</th>
                    <td class="col-5">
                        <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
                    </td>
                </tr>
                
                <tr class="row">
                    <th class="col-5">名前</th>
                    <td class="col-5"><%= f.text_field :name %></td>
                </tr>
                
                <tr class="row">
                    <th class="col-5">メールアドレス</th>
                    <td class="col-5"><%= f.email_field :email %></td>
                </tr>
            </table>
            <div class="row">
                <div class="col text-center"><%= f.submit "変更保存", class: "btn btn-dark" %></div>
                <div class="col text-center">
                    <%= link_to "退会する", withdraw_users_path, method: :patch, "data-confirm" => "本当に退会しますか？", class: "btn btn-danger" %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>

